.Home {
  margin:10px auto;
  max-width:900px;
}

.Home-header {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.Publication-preview {
  float: left;
  margin-right:20px;
}

.Publication-preview > img {
  height: 120px;
  width: 160px;
  object-fit: cover;
  object-position: 0 0;
}

.Publication {
  min-height:140px;
  clear:both;
  margin:10px;
}

.DateSlider {
  padding:20px 0px;
}

.DateSlider-arrow {
  margin:0px 5px;
}

.DateSlider-value {
  font-weight: bold;
  margin:0px 10px;
}